*.swp
*.pyc
__pycache__
tailwindcss
dns/m
.env
.vim/
certificate.pem
deb/
debian/ptm.debhelper.log
debian/ptm.install
dist/
key.pem
ptm-build-deps_0.1.0_all.deb
ptm.egg-info/
dns/ptm-dns
debian/debtest/
debian/.debhelper/
debian/*.debhelper
debian/*.debhelper.log
