#!/bin/sh
# config maintainer script for debtest





# source debconf stuff
. /usr/share/debconf/confmodule


# source dbconfig-common shell library, and call the hook function
if [ -f /usr/share/dbconfig-common/dpkg/config.pgsql ]; then
    . /usr/share/dbconfig-common/dpkg/config.pgsql

    dbc_install='true'
    dbc_upgrade='true'
    dbc_remove='true'
    dbc_dbtype='pgsql'
    dbc_dbpass=''
    dbc_dbuser='debtest'
    dbc_dbserver=''
    dbc_dbport=''
    dbc_dbadmin='postgres'
    dbc_basepath=''
    dbc_ssl='false'
    dbc_authmethod_admin='ident'
    dbc_authmethod_user='ident'

    dbc_go debtest "$@"
fi

